<ul class="unstyled">
<% @stores.each do |store| %>
    <li>
      <div class="pull-left">
        <a title="<%= store.user.name %>" href="<%= user_path(store.user.uid) %>">
            <img style="width: 60px; height: 60px;" src="<%=store.user.image%>" />
        </a>
      </div>
      <div>
        <a href="<%= store_path(store) %>"><%=store.name%></a>
        <div><%= store.description %></div>
        <div>
          <% store.businesses.each do |business| %>
              <span><%= link_to business.name, "b/"+business.name %></span>
          <% end %>
        </div>
      </div>
    </li>
<% end %>
</ul>

<%= paginate @stores, :theme => 'bootstrap' %>