<%=@store.errors.full_messages if @store.errors.any?%>
<%= form_for @store do |f| %>
  <div class="control-group">
    <%= f.label :name, "店铺名称" %>
    <%= f.text_field :name %>
  </div>

  <div class="control-group">
    <%= f.label :description, "店铺介绍" %>
    <%= f.text_area :description, :rows => "3" %>
  </div>

  <div class="control-group">
    <label>主营产品</label>
    <% @store.businesses.each do |business| %>
      <span class="label label-inverse" style="font-size: 12px; padding: 5px;">
        <i class="icon-tag icon-white"></i>
        <%= business.name %>
        <a style="color: #fff;" title="删除" href="#">&times;</a>
      </span>
      <input type="text" name="add_business"/>
      <%= f.fields_for :businesses, business do |b| %>
        <%= b.hidden_field :id %>
        <%= b.hidden_field :name %>
      <% end %>
    <% end %>
  </div>

  <div class="control-group">
    <label>店铺网址
      <a href="javascript:void(0);"><i class="icon-plus-sign"></i><small>添加更多</small></a>
    </label>
    <% @store.links.each do |link| %>
      <span title="<%= link.name %>"><%= link.url %></span>
      <a href="" title="编辑"><i class="icon-edit"></i></a>
      <%= f.fields_for :links, link do |b| %>
        <%= b.hidden_field :id %>
        <%= b.hidden_field :url %>
        <%= b.hidden_field :name %>
      <% end %>
    <% end %>
  </div>

  <div class="control-group">
    <%= f.submit "提交", :class => "btn btn-info" %>
  </div>
<% end %>