<style>
  body { background: url(<%=asset_path("body_bg.jpg")%>) center 0 no-repeat; }
</style>
<div class="row">
  <div class="span9">
    <div class="store box padding20 clearfix">
      <h2><%= @store.name %></h2>
      <%= render "stores/tags", :businesses => @store.businesses %>
      <div class="mt10"><%= @store.description %></div>
      <div class="mt10">店铺链接：</div>
      <ul class="unstyled">
        <% @store.links.each do |link| %>
          <li><a class="black fs12" href="<%=link.url%>"><i class="icon-hand-right"></i> <%=link.name%></a></li>
        <% end %>
      </ul>

      <div><%= render "components/share" %></div>
    </div>
  </div>
  <div class="span3">
    <div class="sidebar box padding20">
      <div class="pop-triangle"></div>
      <div class="user clearfix">
        <div class="pull-left" style="margin-right: 10px;">
          <a target="_blank" href="<%= weibo_url(@store.user.uid) %>"><img src="<%=@store.user.image%>"/></a>
        </div>
        <div>
          <div><a class="black" target="_blank" href="<%= weibo_url(@store.user.uid) %>"><%= @store.user.name %></a></div>
          <div><small><%= @store.user.created_at.to_date %></small></div>
          <div class="mt10"><a class="btn btn-info btn-mini" href=""><i class="icon-plus icon-white"></i> 关注</a></div>
        </div>
        <div class="mt10 fs12 clearfix" style="text-indent: 10px; color: #777;">
          <%= @store.user.description %>
        </div>
      </div>

      <div class="line"></div>

      <div class="fs12">
        <div class="btn-group">
          <a data-toggle="tooltip" title="发送邮件" href="mailto:<%= @store.user.email %>" class="btn btn-small"><i class="icon-envelope"></i></a>
          <a data-toggle="tooltip" title="新浪微博" href="<%= weibo_url(@store.user.uid) %>" class="btn btn-small"><img src="<%= asset_path("sns/sina_g.png") %>"/></a>
        </div>
      </div>

    </div>
  </div>
</div>