<%= form_for store, :html => {:class=>"form-horizontal edit-store-form"} do |f| %>
  <dl class="dl-horizontal">
    <dt>店铺名称</dt>
    <dd>
      <span><%= store.name  %></span>
      <%= f.text_field :name, class: 'hide' %>
    </dd>

    <dt>主营产品</dt>
    <dd>
      <% businesses_str = store.businesses.map {|business| business.name}.join(" ") unless @store.businesses.blank? %>
      <span><%= render "stores/tags", businesses: store.businesses %></span>
      <input type="text" class="hide" name="businesses" value="<%= businesses_str %> "/>
    </dd>

    <dt>店铺简介</dt>
    <dd>
      <div><%= store.description %></div>
    </dd>
  </dl>
<% end %>