<div id="panel_info">
<%= form_for store, remote: true, html: { class: 'form-inline mb0' } do |f| %>
    <input type="hidden" name="tab" value="info"/>
    <div class="mb10">
      <span>店铺名称：</span>
      <%= f.text_field :name, style: 'width: 447px;' %>
    </div>

    <div class="mb10">
      <div>主营业务：<small class="muted">多个主营业务用空格隔开</small></div>
      <% businesses_str = store.businesses.map {|business| business.name}.join(" ") unless @store.businesses.blank? %>
      <div><input style="width: 510px;" type="text" name="businesses" value="<%= businesses_str %> "/></div>
    </div>

    <div class="mb10">
      <span>店铺简介：</span>
      <div>
        <%= f.text_area :description, rows: 5, style: 'width:510px;' %>
      </div>
    </div>

    <div>
      <div class="controls">
        <%= f.submit '提交', class: 'btn' %>
      </div>
    </div>
<% end %>
</div>