<!DOCTYPE html>
<html>
<head>
  <title>dian.in</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-static-top" style="margin-bottom: 20px;">
    <div class="navbar-inner">
      <div class="container">
        <a style="padding: 3px 20px;" class="brand" href="<%= root_path %>"><img style="height: 30px;" src="http://dian.in/dian.in.png"/></a>
        <ul class="nav">
          <li<%=nav_active("application", "index")%>><a href="<%= root_path %>">首页</a></li>
          <li<%=nav_active("stores")%>><a href="<%= stores_path %>">店铺</a></li>
        </ul>
        <div class="pull-right">
          <% if signed_in? %>
            <ul class="nav">
              <% if can? :update, @store %>
              <li>
                <button data-toggle="modal" data-href="<%= edit_store_path(@store) %>" id="btn_edit_store" class="btn btn-success btn-small"><i class="icon-edit icon-white"></i> 编辑店铺</button>
              </li>
              <% end %>
              <li class="dropdown">
                <a href="<%= user_path(current_user.uid) %>" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.name %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <!--li><a href="<%=user_path(current_user.uid)%>">我的主页</a></li-->
                  <% if current_user.stores.any? %>
                  <li><a href="<%= store_path(current_user.stores.first) %>">我的店铺</a></li>
                  <% end %>
                  <li><a href="<%=logout_path(:back_url => request.url)%>">退出</a></li>
                </ul>
              </li>
            </ul>
          <% else %>
            <a href="/auth/weibo" class="btn btn-info btn-small">新浪微博登录</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

  <%= render "components/feedback" %>
</body>
</html>
